@page
@using Aqt.CoreOracle.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Aqt.CoreOracle.Web.Pages.Categories.CategoryTypes.CreateModalModel
@inject IStringLocalizer<CoreOracleResource> L
@{
    Layout = null;
}

<form asp-page="/Categories/CategoryTypes/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewCategoryType"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="CategoryType.Code" />
            <abp-input asp-for="CategoryType.Name" />
            <abp-input asp-for="CategoryType.Description" text-area />
            <abp-input asp-for="CategoryType.IsActive" />
            <abp-input asp-for="CategoryType.AllowMultipleSelect" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form> 